
apiVersion: apps/v1
kind: Deployment
metadata:
  name: martin-backend
spec:
  replicas: 1   
  selector:
    matchLabels:
      app: martin-guestbook
      component: backend
  template:
    metadata:
      labels:
        app: martin-guestbook
        component: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/billare/guestbook-backend:latest
          ports:
            - containerPort: 8080

          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi

          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: martin-db-config
                  key: db-host
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: martin-db-config
                  key: redis-host
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: martin-db-config
                  key: redis-port
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: martin-redis-password
                  key: password
---
apiVersion: v1
kind: Service
metadata:
  name: martin-backend
spec:
  type: ClusterIP
  selector:
    app: martin-guestbook
    component: backend
  ports:
    - port: 8080
      targetPort: 8080
